*{
  padding: 0;
  margin: 0;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: url(../public/image/bakcground.png);
}
.animation{
  position: relative;
}
.person_1{
  position: absolute;
  top: 300px;
  right: 30px;
}
.sms{
  position: absolute;
  top: 130px;
}
.sms_text{
  position: absolute;
  width: 247px;
  text-align: center;
}