@font-face {
    font-family: 'Montserrat';
    src: url('./public/fonts/Montserrat-Medium.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('./public/fonts/Montserrat-MediumItalic.ttf');
    font-style: italic;
  }